@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #ffff;
  background: rgb(142, 73, 232);
}
body{
  width: 100%;

  padding: 50px;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
}
.wrapper header{
  font-size: 30px;
  font-weight: 600;
}

.wrapper .inputField{
  margin: 20px 0;

  display: flex;
  height: 40px;

}